@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

.title__input {
    width: 220px;
    height: 30px;
    border-radius: 20px;
}

.label__title-input {
    display: box;
    margin-right: 10px;
    font-size: 28px;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    
}